.button {
  background-color: var(---primary-color-blue);
  color: var(---primary-color-light);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  border: 1px solid var(---primary-color-blue);
}

.hero-button {
  padding: 20px 199px;
}
