.advantages-section {
  background-image: url(../../images/Advantages.jpg);
  background-repeat: no-repeat;
  @media screen and (min-width: 1440px) {
    background-image: url(../../images/advantages/Advantages_1_desc.jpg),
      url(../../images/advantages/Advantages_2_desc.jpg),
      url(../../images/advantages/Advantages_3_desc.jpg);
    background-position: top 140px left 125px, top 223px left 918px,
      top 222px left 522px;
  }
}
.advantages-list {
  margin-top: 115px;
  @media screen and (min-width: 768px) {
    margin-left: 62px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 270px;
  }
}

.advantages-item {
  display: flex;
  text-align: center;
  background-color: var(---primary-color-blue);
  color: var(---primary-color-light);
  align-items: center;

  font-size: 14px;
  line-height: 17px;
  height: 40px;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    width: 604px;
    height: 64px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  @media screen and (min-width: 1440px) {
    width: 630px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 29px;
  }
}
