.tours-list {
  display: flex;
}

.tours-slide {
  border: 1px solid var(---primary-color-blue);
  width: 311px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1440px) {
    width: 377px;
  }
}

.tour-image {
  display: block;
  margin-bottom: 44px;
  width: 311px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1440px) {
    width: 377px;
  }
}
